<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til BMI udregneren</title>
</head>
<body>
<h1>BMI udregner</h1>
<p>Indtast din højde og vægt</p>
<form action="/UdregnBMI" method="post">

        <label for="højde">Højde i centimer:</label>
        <input type="number" id="højde" name="højde">
    <br>

        <label for="vægt">Vægt i kg</label>
        <input type="number" id="vægt" name="vægt">

        <input type="submit" value="Beregn BMI">

    </form>
</body>
</html>